<% provide :web_title, "新增貼文" %>

<!-- <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" style="margin-bottom: 20px;"> -->
	<h1>新增貼文</h1>
	<%= render 'form', post: @post %>
	<%= link_to '取消', posts_path %>
<!-- </div> -->


