@import url("/css/uikit_card.css");

body{
	background-color: #F9F9F9;
}

#postcontent{
	min-height: 450px;
}	

#postfunction{
	display: flex;
}

#postinfo a{
	/*text-decoration: none;*/
	color: #6d6d6d;
}

#postpaginate nav ul{
	justify-content: center;
}